<!DOCTYPE html>
<html lang="en">
<head>
</head>
<style>
input{
    width: 400px;
    display: block;
}
button{
    display: block;
}
.link-img{
    color: red;
    cursor: pointer;
}
</style>
<body>
    <p id="arlet" style="background-color:red; color: white; position: fixed; top: 0; right: 0; opacity: 0; transition: all 1s ease;">đã copy</p>
    <select name="" id="category">
        <%data.forEach(el=>{%>
            <%if(el.parentID ){%>
                <option value="<%=el._id%>"><%=el.name%></option>            
            <%}%>
        <%})%>
    </select>
    <div id="link-group">
        <input type="text" class="listLink" placeholder="Nhập link">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        <input type="text" class="listLink" placeholder="Nhập link hình">
        
    </div>
    <button id="submit">Đăng hàng loạt</button>
    <h1>Trạng thái: <span id="status"></span></h1>
    <h1>Link album: <a id="linkAlbum" href=""></a></h1>
    
    <div id="data">

    </div>
</body>
<script>

const electron = require('electron');
const {ipcRenderer} = electron;
const { BrowserWindow } = electron.remote;

ipcRenderer.on('data',(e, data)=>{
    document.getElementById('data').innerHTML = data.content
})

document.getElementById('get-data').addEventListener('click',function(){
    var postName = document.getElementById('name-post').value,
        postLink = document.getElementById('link-post').value;
    var obj = {
        postName, postLink
    }
    ipcRenderer.send('user-send-get-data-by-link', obj)
    document.querySelectorAll('.link-img').forEach(el=>{
        el.remove()
    })
    document.querySelectorAll('.current-img').forEach(el=>{
        el.remove()
    })
    document.getElementById('html').innerText = '';
    document.getElementById('post-html').innerText = '';
})

console.log(document.getElementById('category').options[document.getElementById('category').selectedIndex].innerText)

document.getElementById('submit').addEventListener('click',function(){
    var listLink = document.querySelectorAll('.listLink');
    var arrListLink = [];
    listLink.forEach(el=>{
        if(el.value !=''){
            arrListLink.push(el.value)
            el.value = '';
        }
    })
    var category = document.getElementById('category').value;
    var folder = document.getElementById('category').options[document.getElementById('category').selectedIndex].innerText
    var obj = {
        category,
        folder,
        listLink:arrListLink,
    }
    ipcRenderer.send('user-send-data', obj)
    document.querySelectorAll('.link-img').forEach(el=>{
        el.remove()
    })
    document.querySelectorAll('.current-img').forEach(el=>{
        el.remove()
    })
    document.getElementById('html').innerText = '';
})
</script>
</html>